:root {
    --shadeofblack: #333132;
    --grape: #94618E;
    --lightgray: #d3d3d3;
    --lightpurple: #D8BFD8;
}


/* Style the body */

body,
html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font-size: 17px;
    line-height: 162%;
    font-weight: 300;
    letter-spacing: 0.006em;
}


/* define the fonts  */

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

.content {
    max-width: 680px;
    margin: auto;
    padding: 10px;
    padding-top: 30px;
}


/* desktop nav bar */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-weight: 300;
    font-size: large;
}

ul.topnav li a:visited {
    background-color: var(--grape);
    text-decoration: underline;
}

ul.topnav li.right {
    float: right;
}

.logo img {
    border-radius: 50%;
    width: 100px;
}

.white-space {
    height: 39vh;
}

.myinfo {
    font-size: 21px;
    line-height: 162%;
    font-weight: 300;
}

.status ul,
.education ul {
    list-style: none;
}

.education ul li::before,
.status ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.status {
    background-color: #7c3467;
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding-top: 1px;
    padding-bottom: 1px;
}

p {
    margin-bottom: 20px;
}

.projects-section {
    overflow-y: scroll;
    padding-left: 80px;
    height: 150vh;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

a {
    color: purple;
    font-weight: 400;
}